
.dashboard_container {
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
  width: 980px;
  margin-top: 45px;
  margin-right: 180px;

  @include OnTablet {
    margin-right: 0px;
    width: 100%;
  }

  &-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;

    @include OnTablet {
      width: 100%;
      align-items: center;
    }

    @include OnBigMobile {
     gap: 46px;
    }
  }
}

.dashboard_container-money {
  display: flex;
  flex-direction: row;
  gap: 22px;

  @include OnTablet {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @include OnBigMobile {
    flex-direction: column;
  }
}

.dashboard_container--styles {
  height: 267px;
  width: 480px;
  background-color: $Background-color-container;
  border-radius: 20px;
  font-family: $Main-font;
  box-sizing: border-box;

  @include OnTablet {
    width: 400px;
    min-width: 300px;
  }
}

.dashboard_container-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;

  &__title {
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 13px;
    letter-spacing: 3px;
  }

  &__divider {
    padding: 0 30px 0 30px;
    border: none;
    height: 1px;
    width: 90%;
    background-color:$Main-font-color;
    margin-bottom: 39px;
  }

  &__money {
    @include PersonalAccountTextStyles;
    color: $Main-font-color;
    margin-bottom: 65px;
    letter-spacing: 2px;

    @include OnBigMobile {
      font-size: 18px;
    }
  }

  &__button {
    @include Hover-Button-Effect;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    background-color:$Buttons-color;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.7); 

    &--text {
      @include PersonalAccountTextStyles;
    }
  }
}

.dashboard_container-earnings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 26px 0px 26px;

  &__earnings-container {
    display: flex;
    flex-direction: column;
    color: $Main-font-color;
  }

  &__title {
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 13px;
    letter-spacing: 3px;
  }

  &__divider {
    padding: 0 30px 0 30px;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 39px;
  }

  &__earnings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 70px;
  }

  &__month-earnings {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include PersonalAccountTextStyles;
    letter-spacing: 2px;

    @include OnBigMobile {
      font-size: 18px;
    }
  }

  &__general-earnings {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @include PersonalAccountTextStyles;
    letter-spacing: 2px;

    @include OnBigMobile {
      font-size: 18px;
    }
  }
}

.dashboard_container-history {
  display: flex;
  flex-direction: column;
  font-family: $Main-font;
  width: 980px;
  gap: 3px;

  @include OnTablet {
    width: 84%;
    gap: 1px;
  }

  &_title {
    display: flex;
    background-color: #780099;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 17px 15px 17px 15px;
    justify-content: space-between;
    color: $Main-font-color;

    &-text {
      font-weight: 500;
      @include PersonalAccountTextStyles;
    }
  }

  &_container {
    @include PersonalAccountTextStyles;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:$Buttons-color;
    width: 100%;
    height: 60px;
    padding: 17px 30px 17px 30px;
    color: $Main-font-color;
    
    @include OnBigMobile {
     padding: 10px;
     align-items: center
    }

    &-date {

    }
  }

  &_links {
    @include PersonalAccountTextStyles;
    position: relative;
    color: $Main-font-color;
    padding: 17px 10px 17px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:$Buttons-color;
    width: 100%;
    height: 60px;

    &-appointment {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      align-self: center;
      white-space: nowrap; /* Запрещаем перенос строк */

      
    }

    @include OnBigMobile {
      padding: 5px;
      font-size: 16px;
      align-items: center
    }
  }
}


/* Style for the pop-up container */
.dashboard_container-history_title_popup-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

/* Style for the pop-up message */
.dashboard_container-history_title-popup-message {
  padding: 12px;
  width: 313px;
  height: 70px;
  box-sizing: border-box;
  visibility: hidden;
  font-size: 14px;
  border: 1px solid #fff;
  background-color: #130018;
  color: #fff;
  text-align: center;
  border-radius: 10px 0px 10px 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15px;
  margin-top: 20px; /* Adjust this value to add some space between the button and the pop-up */
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

/* Show the pop-up message on hover */
.dashboard_container-history_title_popup-container:hover 
.dashboard_container-history_title-popup-message {
  visibility: visible;
  opacity: 1;
}

.dashboard_container-withdrawal {
  display: none;
  flex-direction: row;
  gap: 20px;
  margin-left: 100px;

  @include OnBigMobile {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  @include OnTablet {
    justify-content: center;
  }
}

.FundsToGeneralButton {
  position: absolute;
  left: 30px;
  width: 24px;
  height: 24px;
}

.dashboard_container-withdrawal__funds {
  @include PersonalAccountTextStyles;
  position: relative;
  color: $Main-font-color;
  width: 666px;
  height: 550px;
  background-color: $Background-color-container;
  border: 1px solid #9E00C9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 55px;

  @include OnBigMobile {
    width: 85%;
    justify-content: center;
  }

  &-title {
    @include PersonalAccountTextStyles;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;

    @include OnStandartMobile {
      font-size: 20px;
    }
  }

  &-divider {
    border: none;
    height: 1px;
    width: 90%;
    background-color:$Main-font-color;
    margin-bottom: 15px;

    @include OnTablet {
      margin-bottom: 0px;
    }

    @include OnBigMobile {
      margin-bottom: 0px;
    }
  }

  &-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @include OnBigMobile {
      margin-top: 10px;
    }

    @include OnTablet {
      margin-top: 15px ;
    }

    &--email {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &-text {

      }

      &-input {
        width: 340px;
        height: 30px;
        padding-left: 5px;
        background-color: $Main-font-color;
        border-radius: 5px;
        color: black;

        @include OnBigMobile {
          width: 80%;
        }

        @include OnStandartMobile {
          font-size: 18px;
        }
      }
    }

    &--password {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &-text {

      }

      &-input {
        width: 340px;
        height: 30px;
        padding-left: 5px;
        background-color: $Main-font-color;
        border-radius: 5px;
        color: black;

        @include OnBigMobile {
          width: 80%;
        }

        @include OnStandartMobile {
          font-size: 18px;
        }
      }
    }

    &--sum {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &-text {

      }

      &-input {
        width: 340px;
        height: 30px;
        padding-left: 5px;
        background-color: $Main-font-color;
        border-radius: 5px;
        color: black;

        @include OnBigMobile {
          width: 80%;
        }

        @include OnStandartMobile {
          font-size: 18px;
        }
      }
    }

    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &-text {

      }

      &-input {
        width: 340px;
        height: 30px;
        padding-left: 5px;
        background-color: $Main-font-color;
        border-radius: 5px;
        color: black;

        @include OnBigMobile {
          width: 80%;
        }

        @include OnStandartMobile {
          font-size: 18px;
        }
      }
    }

    &--warn {
      letter-spacing: 2px;

      @include OnBigMobile {
        font-size: 20px;
        text-align: center;
      }
    }

    &--button {
    @include Hover-Button-Effect;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    background-color:$Buttons-color;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.7); 
    margin-bottom: 20px
    }
  }
}

.dashboard_container-withdrawal__balance {
  @include PersonalAccountTextStyles;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $Main-font-color;
  width: 245px;
  height: 130px;
  background-color: $Background-color-container;
  border: 1px solid #9E00C9;
  border-radius: 20px;
  padding: 15px 10px 0px 10px;

  &-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &-divider {
    border: none;
    height: 1px;
    width: 90%;
    background-color:$Main-font-color;
    margin-bottom: 15px;
  }

  &-money {
    font-size: 24px;

    &::after {
      content: "UAH";
      margin-left: 10px;
    }
  }
}

