.second-vector__container {
  background-image: url(/traffic_community/public/images/second-vector.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 1550px;
}

.third-vector__container {
  background-image: url(/traffic_community/public/images/third-vector.png);
  background-repeat: no-repeat;
  background-position: left;
  height: fit-content;
}