.channels__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $Background-color-container;
  border-radius: 20px;
  width: 980px;
  max-height: 650px;
  padding: 30px 15px 25px 15px;
  margin-right: 180px;
  margin-top: 45px;

  @include OnTablet {
    margin-right: 0px;
    width: 80%;
  }

  @include OnBigMobile {
    width: 100%;
  }

  @include OnSmallMobile {
    width: 100%;
  }

  &-title {
    @include PersonalAccountTextStyles;
    color: $Main-font-color;
    font-size: 24px;
    letter-spacing: 3px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 0;
    width: 100%;
    overflow-y: auto; /* Добавляет вертикальное колесо прокрутки при необходимости */

    

    &__main {
      display: flex;
      position: sticky;
      align-items: center;
      padding-left: 15px;
      justify-content: space-between;
      // gap: 334px;
      color: $Main-font-color;
      @include PersonalAccountTextStyles;
      background-color: $Buttons-color-hover;
      min-height: 60px;
      top: 0;
      z-index: 1;

      @include OnBigMobile {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
      }

      &--name {
        
      }
    }
  }

}

.channels__container-list__main--block {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-right: 160px;

  @include OnTablet {
    margin-right: 125px;
    gap: 50px;
  }

  @include OnBigMobile {
    margin-right: 10px;
    gap: 35px;
  }
  
  @include OnSmallMobile {
    margin-right: 0px;
    gap: 30px;
    align-items: center;
  }
}

.channels__container-list__main--subscribers {
  @include OnSmallMobile {
    width: min-content;
  }
}

.channels__container-list__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  font-family: $Main-font;
  color: $Main-font-color;
  background-color: $Buttons-color;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 60px;
  font-size: 18px;
  align-items: center;

  @include OnBigMobile {
    font-size: 16px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
  }

  &--block {
    min-width: 255px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include OnTablet {
      justify-content: space-around;
      gap: 60px;
    }

    @include OnBigMobile {
      
    }

    @include OnSmallMobile {
      justify-content: center;
      min-width: 0px;
      width: 180px;
    }
  }

  &--name {
    margin-right: auto;
  }
}

.channels__container-list__container--name.short {
  overflow: hidden;
  text-overflow: ellipsis; /* Добавить "..." */
  white-space: nowrap; /* Не переносить слова на новую строку */
}

.channels__container-list__container--accept {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  width: 117px;
  height: 45px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 67px;

  &:hover {
    background-color: #D333FF;
    color: black;
  }

  @include OnTablet {
    width: 100px;
    margin-left: 35px;
  }
  
  @include OnBigMobile {
    width: 60%;
    margin-left: 0px;
    height: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.channels__container-list__container--profit {
  width: max-content;
}

.channels__container-list__container.black-bg {
  background-color: transparent;
} 


.channels__container-list::-webkit-scrollbar {
  width: 5px;
}


.channels__container-list::-webkit-scrollbar-track {
  background-color: transparent; /* сделать фон прозрачным */
}


::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}
