<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap" rel="stylesheet">
  <title>Traffic Community))</title>
</head>

<body class="main__page-body">
  <header class="header">
    <div class="main">
      <div class="header__navigation">
        <img src="../public/images/Logo.png" alt="Logo" class="header__navigation-logo">
        <form action="">
          <div class="header__navigation-buttons">
            <button class="header__navigation-buttons-support">Підтримка</button>
            <a href="./login.html" class="header__navigation-buttons-login">Увійти</a>
            <a href="">
              <img src="../public/images/TG-LOGO.png" alt="" class="header__navigation-buttons-tg">
            </a>
          </div>
        </form>
      </div>
      <h1 class="main__title">TRAFFIC <br> COMMUNITY</h1>
    </div>
  </header>

  <div class="second-vector__container">
    <div class="about">
      <div class="about__container">
        <h2 class="about__container-titles">
          <span class="ukranian__font">Що таке</span> traffic community ?
        </h2>
        <div class="about__container-blocks">
          <div class="about__container-firstBlock">
            <h3 class="about__container-firstBlock-title">Можливість</h3>
            <p class="about__container-firstBlock-text">Трафікмейдам продавати свій трафік</p>
            <img src="../public/images/brackets.png" alt="brackets" class="about__container-firstBlock-img">
          </div>
          <div class="about__container-secondBlock">
            <h3 class="about__container-secondBlock-title">Більше</h3>
            <p class="about__container-secondBlock-text">Взривного зростання TG каналів </p>
            <img src="../public/images/brackets.png" alt="brackets" class="about__container-secondBlock-img">
          </div>
          <div class="about__container-thirdBlock">
            <h3 class="about__container-thirdBlock-title">Заробляти</h3>
            <p class="about__container-thirdBlock-text">Разом за нами</p>
            <img src="../public/images/brackets.png" alt="brackets" class="about__container-thirdBlock-img">
          </div>
        </div>
      </div>

    </div>

    <div class="maydem">
      <h2 class="maydem-title">
        Traffic -
        <span class="ukranian__font">Мейдам</span>
      </h2>
      <div class="maydem__container">
        <p class="maydem__container-title">Ти можеш більше заробляти, якщо:</p>
        <ul class="maydem__container-list">
          <li class="maydem__container-list-item">
            • Маєш аккаунт TikTok, Instagram, Facebook,Youtube або можеш створити його.
          </li>
          <li class="maydem__container-list-item">
            • Маєш базові навички редагування відео на телефоні
          </li>
          <li class="maydem__container-list-item">
            • У тебе є трохи вільного часу,який ти можеш приділити на «роботу в телефоні»
          </li>
        </ul>
      </div>
      <button class="maydem__start-button">Почати працювати</button>
    </div>
  </div>

  <div class="third-vector__container">
    <div class="tutorial">
      <h2 class="tutorial-title">як заробити на трафіку?</h2>
      <div class="tutorial-container">
        <div class="tutorial-container--first__Block">
          <p class="tutorial-container--first__Block-text--1">Зареєструватись на платформі <br> TRAFFIC COMMUNITY</p>
          <p class="tutorial-container--first__Block-text--2">Створити аккаунт в TikTok</p>
          <p class="tutorial-container--first__Block-text--3">Лутати кєш</p>
        </div>
        <img src="../public/images/tutorial-line.png" alt="">
        <div class="tutorial-container--second__Block">
          <p class="tutorial-container--second__Block-text--1">Обрати офер</p>
          <p class="tutorial-container--second__Block-text--2">Почати постити крео відоси</p>
        </div>
      </div>
    </div>

    <div class="owners">
      <h2 class="owners-title">
        власникам <span class="owners-title-eng">tg</span>
        каналів
      </h2>
      <div class="owners__container">
        <p class="owners__container-title">TRAFFIC COMMUNITY вирішує найголовнішу проблему власників TG каналів:</p>
        <ul class="owners__container-list">
          <li class="owners__container-list--item">
            • Збільшення живої аудиторії
          </li>
          <li class="owners__container-list--item">
            • Економія часу на залучення нової аудиторії
          </li>
          <li class="owners__container-list--item">
            • Вигідне співвідношення ціни/підписника
          </li>
          <li class="owners__container-list--item">
            • Тільки якісний трафік
          </li>
          <li class="owners__container-list--item">
            • Ніяких ботів
          </li>
        </ul>
      </div>
    </div>

    <div class="withus">
      <div class="withus-section--tittle">
        <h2 class="withus-title">З НАМИ ТВІЙ <span class="withus-title--eng">TG</span> КАНАЛ БУДЕ УСПІШНИМ</h2>
        <img src="/traffic_community/public/images/withUs-brackets.png" alt="" class="withus-section--tittle-img">
        <p class="withus-text">Реклама йде, а підписникі ні? TRAFFIC COMUNITY біржа трафікмейдів, які зроблять тобі x2
          дохід за декілька днів.</p>
        <div class="withus-container">
          <p class="withus-container--title">Що робити ?</p>
          <div class="withus-container--block">
            <p class="withus-container--block-text">Написати мереджеру в телеграм @RomaOrlov</p>
            <p class="withus-container--block-text">Повідомити про бажану кількість підписників</p>
            <p class="withus-container--block-text">Отримувати задоволення від результату</p>
          </div>
        </div>
      </div>
      <button class="withus-button">Написати менеджеру</button>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-divider"></div>
    <div class="footer-container">
      <a href="./home_page.html">
        <img src="../public/images/Logo.png" alt="logo">
      </a>
      <button class="footer-container-help">Підтримка</button>
      <div class="footer-container-social">
        <a href="">
          <img src="../public/images/TG-LOGO.png" alt="" class="footer-container-social--tg">
        </a>
        <a href="">
          <img src="../public/images/TG-LOGO.png" alt="" class="footer-container-social--inst">
        </a>
      </div>
    </div>
  </footer>
</body>
</html>