<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap" rel="stylesheet">
  <title>Traffic Community))</title>
</head>
<body class="login-body">
  <div class="personal_account__logo">
    <a href="./home_page.html">
      <img src="../public/images/Logo.png" alt="logo">
    </a>
  </div>
  <div class="login-container">
    <div class="login">
      <p class="login__title">Вхід на сайт</p>
      <div class="login__divider"></div>
      <form action="">
        <div class="login-incorect--container">
          <p class="login-incorect--container-text"> 
            <span class="login-incorect--container-text--dot">
              •
            </span>
            Неправильне ім'я користувача або пароль
          </p>
        </div>
        <div class="login__form-container">
          <div class="login__form-container--email">
            <p class="login__form-container--email-title">Email</p>
            <input type="email" class="login__form-container--email-input" required>
          </div>
          <div class="login__form-container--password">
            <p class="login__form-container--password-title">Пароль</p>
            <input type="password" name="YourPassword" id="YourPassword" class="login__form-container--password-input" required>
            <button class="login__form-container--password--eye" type="button">
              <img src="../public/images/Hide-password.png" alt="Скрыть пароль">
            </button>
          </div>
          <div class="login__form-container--buttons">
            <button class="login__form-container--buttons-enter">Увійти</button>
            <button class="login__form-container--buttons-forgetPassword" id="forgetPasswordButton">Забули пароль ?</button>
          </div>
          <p class="login__form-container--registration--text"> Якщо у вас немає аккаунту то 
            <a class="login__form-container--registration" href="./registration.html">Зареєструйтесь</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</body>
<script src="../public/hide-passwordLogin.js"></script>
<script src="../public/forgetPassword.js"></script>
</html>

