<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap" rel="stylesheet">
  <title>Traffic Community))</title>
</head>
<body class="registration-body">
  <div class="personal_account__logo">
    <a href="./home_page.html">
      <img src="../public/images/Logo.png" alt="logo">
    </a>
  </div>
  <div class="registration">
    <div class="registration__container">
      <p class="registration__container-title">Реєстрація</p>
      <div class="registration__container-divider"></div>
      <form action="">
        <div class="registration__container-forms">
          <div class="registration__container-forms--email">
            <p class="registration__container-forms--email-title">Email</p>
            <input type="email" class="registration__container-forms--email-input" required>
          </div>

          <div class="registration__container-forms--tg">
            <p class="registration__container-forms--tg-title">Ваш телеграм</p>
            <input type="text" class="registration__container-forms--tg-input" required>
          </div>

          <div class="registration__container-forms--password">
            <p class="registration__container-forms--password-title">Пароль</p>
            <input type="password" name="YourPasswordReg" id="YourPasswordReg" class="registration__container-forms--password-input" required>
            <button class="registration__container-forms--password--eye" type="button">
              <img src="../public/images/Hide-password.png" alt="Скрыть пароль">
            </button>
          </div>

          <div class="registration__container-forms--passwordAgain">
            <p class="registration__container-forms--passwordAgain-title">Введіть пароль ще раз</p>
            <input type="password" name="YourPasswordReg" class="registration__container-forms--passwordAgain-input" required>
          </div>
          <button class="registration__container-forms--button">Cтворити</button>
        </div>
      </form>
      
    </div>
  </div>
</body>
<script src="../public/hide-passwordReg.js"></script>
<script src="../public/forgetPassword.js"></script>
</html>