@import "./mixins.scss";
@import "./vars.scss";
@import "./reset.scss";
@import "./Personal_Account_CSS/dashboard/dashboard.scss";
@import "./Personal_Account_CSS/account_navigation/account_navigation.scss";
@import "./Personal_Account_CSS/account/personal_account.scss";
@import "./Personal_Account_CSS/links/links.scss";
@import "./Personal_Account_CSS/all_channels/channels.scss";
@import "./Personal_Account_CSS/settings/settings.scss";
@import "./Personal_Account_CSS/support/support.scss";


.body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
}
