@import "./mixins.scss";
@import "./vars.scss";
@import "./reset.scss";
@import "./Personal_Account_CSS/dashboard/dashboard.scss";
@import "./Personal_Account_CSS/account_navigation/account_navigation.scss";
@import "./Personal_Account_CSS/account/personal_account.scss";
@import "./Personal_Account_CSS/links/links.scss";
@import "./Personal_Account_CSS/all_channels/channels.scss";
@import "./Personal_Account_CSS/settings/settings.scss";
@import "./Personal_Account_CSS/support/support.scss";
@import "./HomePage_CSS/header/header.scss";
@import "./HomePage_CSS/aboutus/aboutus.scss";
@import "./HomePage_CSS/maydem/maydem.scss";
@import "./HomePage_CSS/secondAndThirdVectors/secondThird-vector.scss";
@import "./HomePage_CSS/tutorial/tutorial.scss";
@import "./HomePage_CSS/tgowners/tgowners.scss";
@import "./HomePage_CSS/with-us/with-us.scss";
@import "./HomePage_CSS/footer/footer.scss";
@import "./Login_Page/login.scss";
@import "./Registration_Page/registration.scss";
@import "./ForgetPassword/forgetPassword.scss";
@import "./Admin_CSS/admin.scss";
@import "./Admin_CSS/withdraw.scss";
@import "./Admin_CSS/create.scss";

.personal_account-body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
}

.main__page-body {
  box-sizing: border-box;
  background-color: #130018;
}

.login-body {
  background-color: #130018; 
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.registration-body {
  background-color: #130018; 
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.reset-body {
  background-color: #130018; 
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.orderList-body {
  background-color: #130018; 
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}