@charset "UTF-8";
@font-face {
  font-family: "Kernel";
  src: url("../../kernel_font/Kernel-Regular.otf") format("opentype");
}
textarea {
  width: 0px;
  height: 0px;
  all: unset;
}

footer {
  all: unset;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  cursor: pointer;
  /* Другие свойства по необходимости */
}

div {
  box-sizing: border-box;
}

input {
  all: unset;
}

.dashboard_container {
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
  width: 980px;
  margin-top: 45px;
  margin-right: 180px;
}
.dashboard_container-general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
}

.dashboard_container-money {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.dashboard_container--styles {
  height: 267px;
  width: 480px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-family: "Tektur", sans-serif;
  box-sizing: border-box;
}

.dashboard_container-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
}
.dashboard_container-balance__title {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 13px;
  letter-spacing: 3px;
}
.dashboard_container-balance__divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 370px;
  background-color: #fff;
  margin-bottom: 39px;
}
.dashboard_container-balance__money {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  padding-bottom: 65px;
  letter-spacing: 2px;
}
.dashboard_container-balance__button {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.dashboard_container-balance__button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}
.dashboard_container-balance__button--text {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}

.dashboard_container-earnings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 26px 0px 26px;
}
.dashboard_container-earnings__earnings-container {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.dashboard_container-earnings__title {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 13px;
  letter-spacing: 3px;
}
.dashboard_container-earnings__divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 370px;
  background-color: #fff;
  margin-bottom: 39px;
}
.dashboard_container-earnings__earnings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 70px;
}
.dashboard_container-earnings__month-earnings {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.dashboard_container-earnings__general-earnings {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.dashboard_container-history {
  display: flex;
  flex-direction: column;
  font-family: "Tektur", sans-serif;
  width: 980px;
  gap: 3px;
}
.dashboard_container-history_title {
  display: flex;
  background-color: #780099;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 17px 15px 17px 15px;
  justify-content: space-between;
  color: #fff;
}
.dashboard_container-history_title-text {
  font-weight: 500;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}
.dashboard_container-history_container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(84, 32, 98, 0.7);
  width: 100%;
  height: 60px;
  padding: 17px 30px 17px 30px;
  color: #fff;
}
.dashboard_container-history_links {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 17px 10px 17px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(84, 32, 98, 0.7);
  width: 100%;
  height: 60px;
}

/* Style for the pop-up container */
.dashboard_container-history_title_popup-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

/* Style for the pop-up message */
.dashboard_container-history_title-popup-message {
  padding: 12px;
  width: 313px;
  height: 70px;
  box-sizing: border-box;
  visibility: hidden;
  font-size: 14px;
  border: 1px solid #fff;
  background-color: #130018;
  color: #fff;
  text-align: center;
  border-radius: 10px 0px 10px 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15px;
  margin-top: 20px; /* Adjust this value to add some space between the button and the pop-up */
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

/* Show the pop-up message on hover */
.dashboard_container-history_title_popup-container:hover .dashboard_container-history_title-popup-message {
  visibility: visible;
  opacity: 1;
}

.dashboard_container-withdrawal {
  display: none;
  flex-direction: row;
  gap: 20px;
  margin-left: 100px;
}

.FundsToGeneralButton {
  position: absolute;
  left: 30px;
  width: 24px;
  height: 24px;
}

.dashboard_container-withdrawal__funds {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  position: relative;
  color: #fff;
  width: 666px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #9E00C9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 55px;
}
.dashboard_container-withdrawal__funds-title {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.dashboard_container-withdrawal__funds-divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-bottom: 15px;
}
.dashboard_container-withdrawal__funds-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.dashboard_container-withdrawal__funds-forms--email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dashboard_container-withdrawal__funds-forms--email-input {
  width: 340px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.dashboard_container-withdrawal__funds-forms--password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dashboard_container-withdrawal__funds-forms--password-input {
  width: 340px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.dashboard_container-withdrawal__funds-forms--sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dashboard_container-withdrawal__funds-forms--sum-input {
  width: 340px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.dashboard_container-withdrawal__funds-forms--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dashboard_container-withdrawal__funds-forms--card-input {
  width: 340px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.dashboard_container-withdrawal__funds-forms--warn {
  letter-spacing: 2px;
}
.dashboard_container-withdrawal__funds-forms--button {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.dashboard_container-withdrawal__funds-forms--button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

.dashboard_container-withdrawal__balance {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 245px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #9E00C9;
  border-radius: 20px;
  padding: 15px 10px 0px 10px;
}
.dashboard_container-withdrawal__balance-title {
  font-size: 24px;
  margin-bottom: 15px;
}
.dashboard_container-withdrawal__balance-divider {
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-bottom: 15px;
}
.dashboard_container-withdrawal__balance-money {
  font-size: 24px;
}
.dashboard_container-withdrawal__balance-money::after {
  content: "UAH";
  margin-left: 10px;
}

.personal_account-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 46px;
}

.personal_account-nav__case {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgba(84, 32, 98, 0.7);
}
.personal_account-nav__case:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

.personal_account-nav__button {
  width: 100%;
  height: 100%;
}
.personal_account-nav__button:focus {
  background-color: #780099;
  border-radius: 10px;
  color: #fff;
}

.personal_account-nav__button.active {
  background-color: #780099;
  border-radius: 10px;
  color: #fff;
}

.personal_account {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  gap: 20px;
}

.personal_account__logo {
  display: flex;
  justify-content: center;
}

.links_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 980px;
  max-height: 650px;
  margin-top: 45px;
  margin-right: 180px;
  padding: 30px 15px 48px 15px;
}
.links_container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  width: 100%;
}
.links_container-title_text {
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}
.links_container-title__button {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.links_container-title__button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}
.links_container__divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 39px;
}
.links_container-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 0;
  width: 100%;
  overflow-y: auto; /* Добавляет вертикальное колесо прокрутки при необходимости */
}
.links_container-list__main {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  width: 100%;
  min-height: 60px;
  background-color: #780099;
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}
.links_container-list__main--name {
  width: 140px;
}
.links_container-list__main--link {
  width: 140px;
}
.links_container-list__container {
  background-color: rgba(84, 32, 98, 0.7);
  color: #fff;
  position: relative;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  font-size: 14px;
  min-height: 50px;
  width: 100%;
  color: white;
  display: flex;
  gap: 20px;
  padding: 0px 15px 0px 15px;
  align-items: center;
  justify-content: space-between;
}
.links_container-list__container--name {
  width: 170px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.links_container-list__container--name_text {
  display: inline;
}
.links_container-list__container--name_uah {
  display: inline;
}
.links_container-list__container--link {
  position: absolute;
  top: 50%;
  left: calc(50% + 7px); /* Подвинуть на 20 пикселей вправо */
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.recall {
  display: none;
}

.links_container-list::-webkit-scrollbar {
  width: 5px;
}

.links_container-list::-webkit-scrollbar-track {
  background-color: transparent; /* сделать фон прозрачным */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}

.name-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.channels__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 980px;
  max-height: 650px;
  padding: 30px 15px 25px 15px;
  margin-right: 180px;
  margin-top: 45px;
}
.channels__container-title {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
}
.channels__container-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 0;
  width: 100%;
  overflow-y: auto; /* Добавляет вертикальное колесо прокрутки при необходимости */
}
.channels__container-list__main {
  display: flex;
  position: sticky;
  align-items: center;
  padding-left: 15px;
  gap: 334px;
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  background-color: #780099;
  min-height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.channels__container-list__main--block {
  display: flex;
  flex-direction: row;
  gap: 95px;
}

.channels__container-list__container {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Tektur", sans-serif;
  color: #fff;
  background-color: rgba(84, 32, 98, 0.7);
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 60px;
  font-size: 18px;
  align-items: center;
}
.channels__container-list__container--block {
  min-width: 255px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.channels__container-list__container--name {
  margin-right: auto;
}

.channels__container-list__container--accept {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  width: 117px;
  height: 45px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 67px;
}
.channels__container-list__container--accept:hover {
  background-color: #D333FF;
  color: black;
}

.channels__container-list__container--profit {
  width: max-content;
}

.channels__container-list__container.black-bg {
  background-color: transparent;
}

.channels__container-list::-webkit-scrollbar {
  width: 5px;
}

.channels__container-list::-webkit-scrollbar-track {
  background-color: transparent; /* сделать фон прозрачным */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}

.settings__container {
  width: fit-content;
}
.settings__container--general {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 980px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: #fff;
  margin-top: 45px;
  margin-right: 180px;
}
.settings__container--title {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  background-color: #780099;
  width: 100%;
  height: 60px;
  border-radius: 20px;
}
.settings__container--title__text {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.settings__container--personal__data {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.settings__container--personal__data--text {
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
}
.settings__container--personal__data--email {
  font-size: 20px;
  letter-spacing: 2px;
}
.settings__container--personal__data--password {
  letter-spacing: 2px;
}

.settings__container--personal {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-left: 27px;
  margin-top: 32px;
  margin-right: 96px;
}

.settings__container--personal__data--general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BackToGeneralButton {
  position: absolute;
  left: 30px;
  width: 24px;
  height: 24px;
}

.settings__container__data--email__form {
  display: none;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  align-items: center;
  color: #fff;
  width: 666px;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  margin-top: 45px;
  margin-right: 330px;
  margin-left: 164px;
  padding-top: 22px;
  padding-bottom: 40px;
  border: 1px solid #9E00C9;
  border-radius: 20px;
  letter-spacing: 2px;
}
.settings__container__data--email__form--title {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.settings__container__data--email__form--title-text {
  font-size: 24px;
  text-align: center;
}
.settings__container__data--email__form--divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-bottom: 15px;
}
.settings__container__data--email__form--label {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.settings__container__data--email__form--label--oldEmail {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.settings__container__data--email__form--label--newEmail {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.settings__container__data--email__form--label_button {
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 220px;
  height: 40px;
  color: #fff;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 5px;
  margin-top: 15px;
}
.settings__container__data--email__form--label_button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

#email {
  width: 285px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}

#confirmation_code {
  width: 285px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
#confirmation_code::placeholder {
  font-size: 16px;
}

.settings__container__data--password__form {
  display: none;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  align-items: center;
  color: #fff;
  width: 666px;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  margin-top: 45px;
  margin-right: 330px;
  margin-left: 164px;
  padding-top: 22px;
  padding-bottom: 40px;
  border: 1px solid #9E00C9;
  border-radius: 20px;
  letter-spacing: 2px;
}
.settings__container__data--password__form--title {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.settings__container__data--password__form--title-text {
  font-size: 24px;
  text-align: center;
}
.settings__container__data--password__form--divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-bottom: 15px;
}
.settings__container__data--password__form--label {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.settings__container__data--password__form--label--oldPassword {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.settings__container__data--password__form--label--newPassword {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.settings__container__data--password__form--label_button {
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 220px;
  height: 40px;
  color: #fff;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 5px;
  margin-top: 15px;
}
.settings__container__data--password__form--label_button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

#OldPassword {
  width: 285px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}

#NewPassword {
  width: 285px;
  height: 30px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}

.settings__container__data--password__form--label--eye1 {
  position: absolute;
  top: 34px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.settings__container__data--password__form--label--eye1 img {
  width: 20px;
  height: 20px;
}

.settings__container__data--password__form--label--eye1:hover img {
  opacity: 0.8;
}

.settings__container--personal__data--button {
  transition: all 0.3s ease;
}

.settings__container--personal__data--button:hover {
  color: #9E00C9;
}

.hidden {
  display: none;
}

.support__container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 775px;
  height: 539px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: #fff;
  margin-top: 45px;
  margin-right: 270px;
  margin-left: 115px;
  padding: 25px 30px 40px 25px;
  border: 1px solid #9E00C9;
}
.support__container--divider {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 25px;
}
.support__container--title {
  margin-bottom: 25px;
}
.support__container--title-text {
  letter-spacing: 2px;
  font-size: 24px;
}
.support__container--forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.support__container--forms__email--title {
  font-size: 24px;
}
.support__container--forms__email-input {
  box-sizing: border-box;
  width: 540px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  padding: 5px;
}
.support__container--forms__tg--title {
  font-size: 24px;
}
.support__container--forms__tg-input {
  box-sizing: border-box;
  width: 540px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  padding: 5px;
}
.support__container--forms__problem--title {
  font-size: 24px;
}
.support__container--forms__problem-input {
  box-sizing: border-box;
  min-width: 700px;
  height: 95px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  padding: 5px;
  resize: none;
  overflow-y: auto;
  word-wrap: break-word;
}
.support__container--forms__problem-input::-webkit-scrollbar {
  width: 5px;
}
.support__container--forms__problem-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}
.support__container--forms__problem-input::-webkit-scrollbar-track {
  background-color: transparent;
}
.support__container--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 45px;
  border: 1px solid #D333FF;
  color: #C800FF;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.support__container--button:hover {
  background-color: #D333FF;
  color: black;
}

.support__container--button-block {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 192px;
  padding-top: 38px;
}
.main__title {
  color: #D333FF;
  text-shadow: 0 0 10px #D333FF, 0 0 100px #D333FF, 0 0 150px #D333FF;
  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Kernel";
  font-style: italic;
  font-size: 96px;
  font-weight: 100;
  text-align: center;
}

.header {
  font-family: "Tektur", sans-serif;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  margin-bottom: 250px;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__navigation-buttons {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.header__navigation-buttons-support {
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgba(84, 32, 98, 0.7);
}
.header__navigation-buttons-support:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}
.header__navigation-buttons-login {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  align-items: center;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 45px;
}
.header__navigation-buttons-login:hover {
  background-color: #D333FF;
  color: black;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 1120px;
}

.about__container-titles {
  color: #D333FF;
  text-shadow: 0 0 10px #D333FF, 0 0 100px #D333FF, 0 0 150px #D333FF;
  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  font-size: 64px;
  width: 600px;
  align-self: flex-start;
}

.ukranian__font {
  font-family: "Tektur", sans-serif;
  font-weight: 500;
  font-size: 60px;
}

.about__container-blocks {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.about__container-firstBlock {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Tektur", sans-serif;
}
.about__container-firstBlock-title {
  text-transform: uppercase;
  color: #D333FF;
  font-size: 40px;
  font-style: italic;
}
.about__container-firstBlock-text {
  font-size: 18px;
  align-self: flex-end;
  color: #fff;
}
.about__container-firstBlock-img {
  align-self: flex-end;
  width: 108px;
  height: 24px;
}

.about__container-secondBlock {
  align-self: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Tektur", sans-serif;
}
.about__container-secondBlock-title {
  text-transform: uppercase;
  color: #D333FF;
  font-size: 40px;
  font-style: italic;
}
.about__container-secondBlock-text {
  font-size: 18px;
  align-self: flex-end;
  color: #fff;
}
.about__container-secondBlock-img {
  align-self: flex-end;
  width: 108px;
  height: 24px;
}

.about__container-thirdBlock {
  align-self: flex-end;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Tektur", sans-serif;
}
.about__container-thirdBlock-title {
  text-transform: uppercase;
  color: #D333FF;
  font-size: 40px;
  font-style: italic;
}
.about__container-thirdBlock-text {
  font-size: 18px;
  align-self: flex-end;
  color: #fff;
}
.about__container-thirdBlock-img {
  align-self: flex-end;
  width: 108px;
  height: 24px;
}

.maydem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 150px;
}
.maydem-title {
  color: #D333FF;
  text-shadow: 0 0 10px #D333FF, 0 0 100px #D333FF, 0 0 150px #D333FF;
  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  font-size: 64px;
}
.maydem__container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  width: 580px;
  height: 250px;
  border-radius: 16px;
  background-color: rgba(160, 0, 204, 0.2);
  padding: 22px 18px;
}
.maydem__container-title {
  margin-bottom: 30px;
}
.maydem__container-list {
  list-style: none;
}
.maydem__start-button {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  align-items: center;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  width: 275px;
  height: 60px;
}
.maydem__start-button:hover {
  background-color: #D333FF;
  color: black;
}

.second-vector__container {
  background-image: url(/traffic_community/public/images/second-vector.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 1550px;
}

.third-vector__container {
  background-image: url(/traffic_community/public/images/third-vector.png);
  background-repeat: no-repeat;
  background-position: left;
  height: fit-content;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 170px;
  width: 100%;
  height: 405px;
}
.tutorial-container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
}
.tutorial-container--first__Block {
  display: flex;
  flex-direction: row;
}
.tutorial-container--first__Block-text--1 {
  text-align: center;
  margin-right: 190px;
}
.tutorial-container--first__Block-text--2 {
  text-align: center;
  margin-right: 270px;
}
.tutorial-container--first__Block-text--3 {
  text-align: center;
}
.tutorial-container--second__Block {
  display: flex;
  flex-direction: row;
}
.tutorial-container--second__Block-text--1 {
  text-align: center;
  margin-left: 342px;
  margin-right: 260px;
}
.tutorial-container--second__Block-text--2 {
  text-align: center;
}
.tutorial-title {
  color: #D333FF;
  text-shadow: 0 0 10px #D333FF, 0 0 100px #D333FF, 0 0 150px #D333FF;
  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Tektur", sans-serif;
  font-weight: 500;
}

.owners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 280px;
  margin-bottom: 200px;
}
.owners-title {
  color: #D333FF;
  text-shadow: 0 0 10px #D333FF, 0 0 100px #D333FF, 0 0 150px #D333FF;
  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Tektur", sans-serif;
  font-weight: 500;
  font-size: 60px;
}
.owners-title-eng {
  font-family: "Kernel";
  font-size: 64px;
}
.owners__container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  width: 580px;
  height: 250px;
  border-radius: 16px;
  background-color: rgba(160, 0, 204, 0.2);
  padding: 22px 18px;
}
.owners__container-title {
  margin-bottom: 30px;
}
.owners__container-list {
  list-style: none;
}

.withus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.withus-button {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  align-items: center;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  width: 275px;
  height: 60px;
}
.withus-button:hover {
  background-color: #D333FF;
  color: black;
}
.withus-text {
  font-family: "Tektur", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  width: 650px;
}
.withus-title {
  color: #D333FF;
  text-shadow: 0 0 10px #D333FF, 0 0 100px #D333FF, 0 0 150px #D333FF;
  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Tektur", sans-serif;
  font-size: 60px;
  font-weight: 500;
  width: 470px;
}
.withus-title--eng {
  display: inline-block;
  font-family: "Kernel";
  font-size: 64px;
}
.withus-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  height: 269px;
  width: 567px;
  background-image: url(/traffic_community/public/images/withUsBGI.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 567px 269px;
  font-family: "Tektur", sans-serif;
  color: #fff;
  font-size: 20px;
  padding-top: 25px;
  text-align: center;
}
.withus-container--title {
  margin-right: 18px;
}
.withus-container--block {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.withus-section--tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.withus-section--tittle-img {
  width: 115px;
  height: 35px;
  align-self: flex-start;
  margin-left: 90px;
}

.footer {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  gap: 55px;
  margin-top: 150px;
}
.footer-divider {
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
}
.footer-container {
  display: flex;
  flex-direction: row;
  gap: 325px;
}
.footer-container-help {
  transition: background-color 0.3s ease, color 0.3s ease;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgba(84, 32, 98, 0.7);
}
.footer-container-help:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}
.footer-container-social {
  display: flex;
  flex-direction: row;
  gap: 58px;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.login {
  display: flex;
  font-family: "Tektur", sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 780px;
  min-height: 466px;
  background-color: rgba(45, 2, 56, 0.7);
  border-radius: 20px;
  padding: 25px 15px 40px 15px;
}
.login__title {
  font-size: 24px;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 20px;
  letter-spacing: 2px;
}
.login__divider {
  border: none;
  height: 1px;
  width: 750px;
  background-color: #fff;
  margin-bottom: 39px;
}
.login__form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}
.login__form-container--email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login__form-container--email-input {
  width: 580px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.login__form-container--password {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
}
.login__form-container--password-input {
  width: 580px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}

.login__form-container--buttons {
  display: flex;
  flex-direction: row;
  gap: 43px;
  margin-bottom: 30px;
}
.login__form-container--buttons-enter {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.login__form-container--buttons-enter:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

.login__form-container--registration {
  color: #BB00EE;
  letter-spacing: 2px;
}

.login__form-container--registration--text {
  letter-spacing: 2px;
}

.login-incorect--container {
  display: none;
  align-items: center;
  letter-spacing: 2px;
  padding-left: 20px;
  width: 580px;
  height: 60px;
  background-color: #542062;
  margin-bottom: 21px;
}

.login-incorect--container-text--dot {
  margin-right: 10px;
}

.login__form-container--password--eye {
  position: absolute;
  top: 41px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.login__form-container--password--eye img {
  width: 20px;
  height: 20px;
}

.login__form-container--password--eye:hover img {
  opacity: 0.8;
}

.registration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.registration__container {
  display: flex;
  font-family: "Tektur", sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 780px;
  min-height: 600px;
  background-color: rgba(45, 2, 56, 0.7);
  border-radius: 20px;
  padding: 25px 15px 40px 15px;
}
.registration__container-title {
  font-size: 24px;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 20px;
  letter-spacing: 2px;
}
.registration__container-divider {
  border: none;
  height: 1px;
  width: 750px;
  background-color: #fff;
  margin-bottom: 20px;
}
.registration__container-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
.registration__container-forms--email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.registration__container-forms--email-input {
  width: 580px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.registration__container-forms--tg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.registration__container-forms--tg-input {
  width: 580px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.registration__container-forms--password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.registration__container-forms--password-input {
  width: 580px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.registration__container-forms--passwordAgain {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.registration__container-forms--passwordAgain-input {
  width: 580px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}

.registration__container-forms--password--eye {
  position: absolute;
  top: 40px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.registration__container-forms--button {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.registration__container-forms--button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

.reset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.reset-container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #fff;
  width: 666px;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 40px;
  border: 1px solid #9E00C9;
  border-radius: 20px;
  letter-spacing: 2px;
}
.reset-container-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.reset-container-divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 90%;
  background-color: #fff;
  margin-bottom: 15px;
}
.reset-container-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.reset-container-forms--NewPassword {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.reset-container-forms--NewPassword-input {
  width: 340px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.reset-container-forms--OldPassword {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.reset-container-forms--OldPassword-input {
  width: 340px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.reset-container-forms--code {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.reset-container-forms--code-input {
  width: 340px;
  height: 40px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
}
.reset-container-forms--button {
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 220px;
  height: 40px;
  color: #fff;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 5px;
}
.reset-container-forms--button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

.personal_account-body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
}

.main__page-body {
  box-sizing: border-box;
  background-color: #130018;
}

.login-body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.registration-body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.reset-body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
