@charset "UTF-8";
@font-face {
  font-family: "Kernel";
  src: url("../kernel_font/Kernel-Regular.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  cursor: pointer;
  /* Другие свойства по необходимости */
}

div {
  box-sizing: border-box;
}

.dashboard_container {
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
  width: 980px;
  margin-top: 24px;
  margin-right: 5%;
}

.dashboard_container-money {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.dashboard_container--styles {
  height: 267px;
  width: 480px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-family: "Tektur", sans-serif;
  box-sizing: border-box;
}

.dashboard_container-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
}
.dashboard_container-balance__tittle {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 13px;
  letter-spacing: 3px;
}
.dashboard_container-balance__divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 80%;
  background-color: #fff;
  margin-bottom: 39px;
}
.dashboard_container-balance__money {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  padding-bottom: 65px;
  letter-spacing: 2px;
}
.dashboard_container-balance__button {
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.dashboard_container-balance__button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}
.dashboard_container-balance__button--text {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}

.dashboard_container-earnings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 26px 0px 26px;
}
.dashboard_container-earnings__earnings-container {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.dashboard_container-earnings__tittle {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 13px;
  letter-spacing: 3px;
}
.dashboard_container-earnings__divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 80%;
  background-color: #fff;
  margin-bottom: 39px;
}
.dashboard_container-earnings__earnings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 70px;
}
.dashboard_container-earnings__month-earnings {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.dashboard_container-earnings__general-earnings {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.dashboard_container-history {
  display: flex;
  flex-direction: column;
  font-family: "Tektur", sans-serif;
  width: 980px;
  gap: 3px;
}
.dashboard_container-history_tittle {
  display: flex;
  background-color: #780099;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 17px 15px 17px 15px;
  justify-content: space-between;
  color: #fff;
}
.dashboard_container-history_tittle-text {
  font-weight: 500;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}
.dashboard_container-history_container {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 230px;
  background-color: rgba(84, 32, 98, 0.7);
  width: 100%;
  height: 60px;
  padding: 17px 0px 17px 15px;
  color: #fff;
}
.dashboard_container-history_links {
  background-color: rgba(84, 32, 98, 0.7);
  width: 100%;
  height: 60px;
}

/* Style for the pop-up container */
.dashboard_container-history_tittle_popup-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

/* Style for the pop-up message */
.dashboard_container-history_tittle-popup-message {
  padding: 12px;
  width: 313px;
  height: 70px;
  box-sizing: border-box;
  visibility: hidden;
  font-size: 14px;
  border: 1px solid #fff;
  background-color: #130018;
  color: #fff;
  text-align: center;
  border-radius: 10px 0px 10px 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15px;
  margin-top: 20px; /* Adjust this value to add some space between the button and the pop-up */
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

/* Show the pop-up message on hover */
.dashboard_container-history_tittle_popup-container:hover .dashboard_container-history_tittle-popup-message {
  visibility: visible;
  opacity: 1;
}

.personal_account-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 46px;
}

.personal_account-nav__case {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgba(84, 32, 98, 0.7);
}
.personal_account-nav__case:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}

.personal_account-nav__button {
  width: 100%;
  height: 100%;
}
.personal_account-nav__button:focus {
  background-color: #780099;
  border-radius: 10px;
  color: #fff;
}

.personal_account-nav__button.active {
  background-color: #780099;
  border-radius: 10px;
  color: #fff;
}

.personal_account {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  gap: 20px;
}

.personal_account__logo {
  display: flex;
  justify-content: center;
}

.links_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 980px;
  max-height: 650px;
  margin-top: 24px;
  margin-right: 5%;
  padding: 30px 15px 48px 15px;
}
.links_container-tittle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  width: 100%;
}
.links_container-tittle_text {
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 24px;
}
.links_container-tittle__button {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  background-color: rgba(84, 32, 98, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.links_container-tittle__button:hover {
  background-color: #780099;
  color: rgb(255, 255, 255);
}
.links_container__divider {
  padding: 0 30px 0 30px;
  border: none;
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 39px;
}
.links_container-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 0;
  width: 100%;
  overflow-y: auto; /* Добавляет вертикальное колесо прокрутки при необходимости */
}
.links_container-list__main {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px;
  width: 100%;
  min-height: 60px;
  background-color: #780099;
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
}
.links_container-list__main--name {
  width: 140px;
}
.links_container-list__main--link {
  width: 140px;
}
.links_container-list__container {
  background-color: rgba(84, 32, 98, 0.7);
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  font-size: 14px;
  min-height: 50px;
  width: 100%;
  color: white;
  display: flex;
  gap: 20px;
  padding: 0px 15px 0px 15px;
  align-items: center;
  justify-content: space-between;
}
.links_container-list__container--name {
  width: 170px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.links_container-list__container--name_text {
  display: inline;
}
.links_container-list__container--name_uah {
  display: inline;
}
.links_container-list__container--link {
  cursor: pointer;
  margin-right: 60px;
}
.links_container-list::-webkit-scrollbar {
  width: 5px;
}

.links_container-list::-webkit-scrollbar-track {
  background-color: transparent; /* сделать фон прозрачным */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}

.name-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.channels__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  width: 980px;
  max-height: 650px;
  padding: 30px 15px 25px 15px;
  margin-right: 5%;
  margin-top: 24px;
}
.channels__container-tittle {
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
}
.channels__container-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 0;
  width: 100%;
  overflow-y: auto; /* Добавляет вертикальное колесо прокрутки при необходимости */
}
.channels__container-list__main {
  display: flex;
  position: sticky;
  align-items: center;
  padding-left: 15px;
  gap: 334px;
  color: #fff;
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  background-color: #780099;
  min-height: 60px;
  position: sticky;
  top: 0;
}

.channels__container-list__main--block {
  display: flex;
  flex-direction: row;
  gap: 95px;
}

.channels__container-list__container {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Tektur", sans-serif;
  color: #fff;
  background-color: rgba(84, 32, 98, 0.7);
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 60px;
  font-size: 18px;
  align-items: center;
}
.channels__container-list__container--block {
  position: absolute;
  left: 500px;
  display: flex;
  flex-direction: row;
  gap: 160px;
}
.channels__container-list__container--name {
  margin-right: auto;
}

.channels__container-list__container--accept {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  width: 117px;
  height: 45px;
  transition: background-color 0.3s, color 0.3s;
}
.channels__container-list__container--accept:hover {
  background-color: #D333FF;
  color: black;
}

.channels__container-list__container--profit {
  width: max-content;
}

.channels__container-list__container.black-bg {
  background-color: transparent;
}

.channels__container-list::-webkit-scrollbar {
  width: 5px;
}

.channels__container-list::-webkit-scrollbar-track {
  background-color: transparent; /* сделать фон прозрачным */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}

.body {
  background-color: #130018;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
