@mixin PersonalAccountTextStyles {
  font-family: $Main-font;
  font-size: 20px;
}

@mixin Hover-Button-Effect {
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: $Buttons-color-hover;
    color: rgba(255, 255, 255, 1);
  }
}

@mixin PasswordEmailFormStyles {
  @include PersonalAccountTextStyles;
  box-sizing: border-box;
  align-items: center;
  color: $Main-font-color;
  width: 666px;
  background-color: $Background-color-container;
  flex-direction: column;
  margin-top: 45px;
  margin-right: 330px;
  margin-left: 164px;
  padding-top: 22px;
  padding-bottom: 40px;
  border: 1px solid #9E00C9;
  border-radius: 20px;
  letter-spacing: 2px;
}

@mixin NeonText {
  color: #D333FF;
  text-shadow:
  0 0 10px #D333FF,
  0 0 100px #D333FF;
  // 0 0 150px #D333FF;

  font-family: "Kernel";
  font-style: italic;
  text-transform: uppercase;
  font-size: 64px;
}

@mixin MainPageButtons {
  @include PersonalAccountTextStyles;
  align-items: center;
  color: #C800FF;
  border: 2px solid #D333FF;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #D333FF;
    color: black;
  }
}

@mixin OnDeskTop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin OnTablet {
  @media (max-width: 1439px) {
    @content;
  }
}

// @mixin OnTabletMaxWidth {
//   @media (max-width: 1279px)  {
//     @content;
//   }
// }

@mixin OnBigMobile {
  @media (max-width: 740px) {
    @content;
  }
}

@mixin OnStandartMobile {
  @media (max-width: 514px) {
    @content;
  }
}

@mixin OnSmallMobile {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin ForLinks {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin ForLoginEye {
  @media (max-width: 537px) {
    @content;
  }
}
