.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 170px;
  width: 100%;
  height: 405px;

  @include OnTablet {
    display: none;
  }

  &-container {
   @include PersonalAccountTextStyles;
   color: $Main-font-color;

    &--first__Block {
      display: flex;
      flex-direction: row;

      &-text--1 {
        text-align: center;
        margin-right: 190px;
      }

      &-text--2 {
        text-align: center;
        margin-right: 270px;
      }

      &-text--3 {
        text-align: center;
      }
    }

    &--second__Block {
      display: flex;
      flex-direction: row;

      &-text--1 {
        text-align: center;
        margin-left: 342px;
        margin-right: 260px;
      }

      &-text--2 {
        text-align: center;
      }
    }

  }

  &-title {
    @include NeonText;
    font-family: $Main-font;
    font-weight: 500;
  } 
}


.tutorial-mini {
  @include OnDeskTop {
    display: none;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;

  &-title {
    @include NeonText;
    width: 430px;
    font-family: $Main-font;
    font-size: 64px;
    font-weight: 500;

    @include OnBigMobile {
      font-size: 50px;
      text-align: center;
    }
    
    @include OnStandartMobile() {
      font-size: 38px;
      width: fit-content;
    }
  }

  .tutorial-mini-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &--text {
      font-family: $Main-font;
      color: $Main-font-color;
      font-size: 20px;
    }

    &--img {
      width: 35px;
      height: 35px;
    }
  }
}

.first-text {
  text-align: center;
  width: 320px;
}