.owners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 280px;
  margin-bottom: 200px;

  @include OnTablet {
    margin-top: 100px;
  }


  &-title {
    @include NeonText;
    @include OnBigMobile {
      font-size: 50px;
      width: fit-content;
      text-align: center;
    }
    
    font-family: $Main-font;
    font-weight: 500;
    font-size: 60px;
  
    &-eng {
      @include OnBigMobile {
        font-size: 54px;
      }
      font-family: "Kernel";
      font-size: 64px;
    }
  }
  
  &__container {

    @include OnBigMobile {
      width: 100%;
      height: fit-content;
    }
  
    @include PersonalAccountTextStyles;
    color: $Main-font-color;
    width: 580px;
    height: 250px;
    border-radius: 16px;
    background-color: rgba(160, 0, 204, 0.2);
    padding: 22px 18px;

    &-title {
      margin-bottom: 30px;
    }

    &-list {
      list-style: none;
    }
  }
}