.withus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;

  @include OnStandartMobile() {
    gap: 50px;
  }

  &-button {
    @include MainPageButtons;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 60px;

    @include OnSmallMobile {
      width: 200px;
    }
  }

  &-text {
    @include OnBigMobile {
      font-size: 20px;
      width: 330px;
    }
  
    @include OnSmallMobile {
      text-align: center;
    }

    font-family: $Main-font;
    color: $Main-font-color;
    font-size: 22px;
    font-weight: 500;
    width: 650px
  }

  &-title {
    @include OnBigMobile {
      font-size: 50px;
      text-align: center;
      width: 80%
    }
    @include NeonText;

    @include OnStandartMobile() {
      font-size: 38px;
    }
    font-family: $Main-font;
    font-size: 60px;
    font-weight: 500;
    width: 470px;

    &--eng {
      @include OnBigMobile {
        font-size: 54px;
      }

      @include OnStandartMobile() {
        font-size: 40px;
      }
  
      display: inline-block;
      font-family: "Kernel";
      font-size: 64px;
    }
  }

  &-container {

    @include OnBigMobile {
      width: 450px;
      background-size: contain;
      padding-top: 45px;
      gap: 37px;
    } 

    @include OnStandartMobile() {
      width: 380px;
      background-size: contain;
      padding-top: 60px;
      gap: 20px;
    }

    @include OnSmallMobile {
      gap: 35px;
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    gap: 55px;
    height: 269px;
    width: 567px;
    background-image: url(/traffic_community/public/images/withUsBGI.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 567px 269px;
    font-family: $Main-font;
    color: $Main-font-color;
    font-size: 20px;
    padding-top: 25px;
    text-align: center;

    &--title {
      margin-right: 18px;

      @include OnStandartMobile() {
        margin-right: 16px;
        font-size: 16px;
      }
    }

    &--block {
      display: flex;
      flex-direction: column;
      gap: 46px;

      @include OnStandartMobile() {
        align-items: center;
        gap: 17px;
      }

      @include OnSmallMobile {
        align-items: center;
        width: 330px;
      }
  
      @include OnBigMobile() {
        align-items: center;
        gap: 13px;
      }

      &-text {

        @include OnBigMobile {
         font-size: 18px;
         width: 370px;
        }

        @include OnStandartMobile {
          font-size: 16px;
          width: 300px;
        }
          
        @include OnSmallMobile {
          font-size: 14px;
          width: 270px;
          margin-left: 50px;
        }
      }
    }
  }
}

.withus-section--tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &-img {

    @include OnBigMobile {
      display: none;
    }
  
    width: 115px;
    height: 35px;
    align-self: flex-start;
    margin-left: 90px;
  }
}

