.personal_account-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 46px;
}

.personal_account-nav__case {
  @include PersonalAccountTextStyles;
  @include Hover-Button-Effect;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: $Buttons-color;
}

.personal_account-nav__button {
  width: 100%;
  height: 100%;

  &:focus {
    background-color: $Buttons-color-hover;
    border-radius: 10px;
    color: #fff;
  }
}

.personal_account-nav__button.active {
  background-color: $Buttons-color-hover;
  border-radius: 10px;
  color: #fff;
}
