.main {
display: flex;
flex-direction: column;
gap: 192px;
padding-top: 38px;

  @include OnBigMobile {
    gap: 40px;
  }
  &__title {
    @include NeonText;
    @include OnBigMobile {
      font-size: 70px;
    }

    @include OnStandartMobile() {
      font-size: 48px;
    }

    font-family: "Kernel";
    font-style: italic;
    font-size: 96px;
    font-weight: 100;
    text-align: center;
  }
}

.header {
  font-family: $Main-font;
  background-image: url(/traffic_community/public/images/main-vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  margin-bottom: 250px;

  @include OnStandartMobile() {
    margin-bottom: 100px;
  }

  @include OnBigMobile {
    height: 400px;
  }

  
  &__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include OnBigMobile {
      justify-content: center;
    }
  

    &-form {
      width: fit-content;
      height: fit-content;
    }
  }
}

.header__navigation-buttons {
  @include PersonalAccountTextStyles;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;

  @include OnTablet {
    gap: 30px;
  }

  @include OnBigMobile {
    display: none;
  }

  &-support {
    @include Hover-Button-Effect;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: $Buttons-color;
  }

  &-login {
    @include MainPageButtons;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    height: 41px;
  }

  &-tglink {
    width: fit-content;
    height: fit-content;
  }

  &-tg {
    width: 50px;
    height: 50px;

    @include OnTablet {
      width: 30px;
      height: 30px;
    }
  }
}



.header-menu {
  @include OnTablet {
    display: none;
  }

  @include OnDeskTop {
    display: none;
  }

  @include OnBigMobile {
    display: block;
  }

  @include OnStandartMobile {
    display: block;
  }
}

/* Стили для кнопки меню */
.menu-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 10;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Стили для иконки меню */
.menu-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  /* Стили для анимации иконки */
  &.open {
    transform: rotate(45deg);
    top: 5px;
  }
}

/* Стили для меню */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-top: 15px;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  background-color: #2D0238;

  /* Стили для открытого меню */
  &.open {
    height: 50vh;
    width: 100vw;
    visibility: visible;
    opacity: 1;
  }
}

/* Стили для списка ссылок */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для ссылок */
.menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

/* Стили для кнопки закрытия */
.close-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Стили для иконки закрытия */
.close-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: flex-start;

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.menu-container-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--tg {
    width: 35px;
    height: 35px;
  }

  &--inst {
    width: 35px;
    height: 35px;
  }
}
